$main-font: 'Satoshi', sans-serif;
$main-text-color: white;
$white-20: rgba(255, 255, 255, 0.2);
$main-color: #137bca;
$hover-color: lighten($main-color, 10%);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #041827 url("./assets/images/bg-1200.jpg") no-repeat fixed;
    background-size: cover;
    color: $main-text-color;
    font-family: $main-font;

    // backdrop-filter: blur(2px);

}

.App {
    display: flex;
    flex-direction: column;
    max-width: 640px;
    align-items: center;
    margin: 2em auto;
    padding: 1em;
}

.card {
    // background-color: $white-20;
    background-color: rgba(0, 0, 0, 0.197);
    border: 1px solid $white-20;
    border-radius: 10px;
    padding: 1em;
    margin: 1em;
    width: 100%;
    max-width: 640px;
    backdrop-filter: blur(6px);
    transition: 0.2s;

    &:hover {
        // backdrop-filter: blur(10px);
        border-color: rgba(255, 255, 255, 0.605);
        box-shadow: #ffffff25 0 0 20px 0px;
    }
}

.add-review-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    overflow: hidden;

    input,
    textarea {
        background: $white-20;
        border: none;
        padding: 10px;
        font-size: 18px;
        font-weight: 400;
        font-family: $main-font;
        color: white;
        border-radius: 6px;


        &::placeholder {
            color: $white-20;
        }
    }

    .submit-btn {
        padding: 10px;
        font-family: $main-font;
        font-size: 1.2rem;
        font-weight: 600;
        border-radius: 6px;
        border: none;
        background: #137bca;
        color: $main-text-color;
        transition: 0.2s ease-out;

        &:hover {
            transform: scale(1.03);
            background-color: $hover-color;
            cursor: pointer;
        }
    }

    .field-wrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 1em;
    }

    &-edit{
        padding: 1em;
    }
}

.review {
    .review-wrapper {
        display: flex;
        align-items: center;
        gap: 1em;
        position: relative;

        .review-content {
            display: flex;
            flex-direction: column;
            gap: 0.5em;
        }

        .review-buttons {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.5em;
            position: absolute;
            right: 10px;
            top: 10px;

            button {
                background: none;
                border: none;
                transition: 0.2s ease-out;

                svg {
                    width: 20px;
                    color: white;
                }

                &:hover {
                    transform: scale(1.2);
                    cursor: pointer;
                }
            }
        }

        img {
            width: 100px;
            height: auto;
            background-color: $white-20;
            border-radius: 50%;
            margin: 12px;
            
        }
        @media (max-width: 768px) {
            flex-direction: column;
            text-align: center;
            padding: 1em 0.5em 2em;
        }
    }

    form{
        margin: auto;
    }
}

.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.display-false{
    display: none !important;
}

.display-true{
    display: flex;
}